body {
  margin: 0;
  line-height: normal;
}
.brooke-cagle-g1kr4ozfoac-unspl-icon {
  position: absolute;
  top: 145px;
  left: 0;
  width: 1366px;
  height: 623px;
  object-fit: cover;
}
.rectangle-div29 {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #aa78e9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 693px;
  height: 620px;
}
.le-dveloppeur-web-la-dvelo,
.le-mtier-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.le-dveloppeur-web-la-dvelo {
  font-family: Arial;
}
.dossier-de-demande-de-formatio {
  margin: 0;
  font-family: Arial;
}
.le-mtier-le-dveloppeur-web {
  position: absolute;
  top: 47.55px;
  left: 10px;
  display: inline-block;
  width: 683px;
  height: 617.45px;
}
.mois-environ-1 {
  margin: 0;
}
.pdagogie-notre-container {
  line-break: anywhere;
  width: 100%;
}
.pdagogie-notre-pdagogie-pr {
  position: absolute;
  top: 0;
  left: 710px;
  font-family: Arial;
  display: flex;
  align-items: center;
  width: 630px;
  height: 582.54px;
}
.contenu-div1 {
  position: absolute;
  top: 123px;
  left: 0;
  width: 1340px;
  height: 665px;
  font-size: 16px;
}
.rectangle-div30 {
  position: absolute;
  top: 9.98px;
  left: 10px;
  background-color: #78be20;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1366px;
  height: 62.84px;
}
.acceuil-b5,
.contact-b5,
.nos-formations-b5 {
  position: absolute;
  top: 26.93px;
  left: 204px;
  display: inline-block;
  width: 79px;
  height: 26.93px;
}
.contact-b5,
.nos-formations-b5 {
  left: 369px;
  width: 188px;
}
.nos-formations-b5 {
  top: 25.93px;
  left: 589px;
  width: 169px;
  height: 54.86px;
}
.nos-rfrences-b5,
.nos-tmoignages-b5 {
  position: absolute;
  top: 26.93px;
  display: inline-block;
  width: 188px;
  height: 26.93px;
}
.nos-tmoignages-b5 {
  left: 898px;
  cursor: pointer;
}
.nos-rfrences-b5 {
  left: 1172px;
}
.logo-afpa-2018-300x300-1-icon5 {
  position: relative;
  width: 121.3px;
  height: 63px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-div7 {
  position: absolute;
  top: 0;
  left: 0;
  height: 82.79px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.barre-de-navigation5 {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 1376px;
  height: 82.79px;
  display: none;
  cursor: pointer;
  font-family: Arial;
}
.rectangle-div31 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #418fde;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1363px;
  height: 85.79px;
}
.formation-dwwm-b {
  position: absolute;
  top: 0.18px;
  left: 559.77px;
  display: inline-block;
  width: 283.38px;
  height: 81px;
  -webkit-text-stroke: 1px #000;
}
.titre-div4 {
  position: absolute;
  top: 62.82px;
  left: 0;
  width: 1363px;
  height: 85.79px;
  text-align: center;
  font-size: 32px;
}
.rectangle-div32 {
  position: absolute;
  top: 21px;
  left: 9px;
  background-color: #78be20;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1366px;
  height: 62px;
}
.acceuil-b6,
.contact-b6,
.nos-formations-b6,
.nos-rfrences-b6,
.nos-tmoignages-b6 {
  position: absolute;
  top: 22.63px;
  left: 182px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 44.11px;
  cursor: pointer;
}
.contact-b6,
.nos-formations-b6,
.nos-rfrences-b6,
.nos-tmoignages-b6 {
  left: 347px;
  width: 188px;
}
.nos-formations-b6,
.nos-rfrences-b6,
.nos-tmoignages-b6 {
  top: 0;
  left: 580px;
  width: 169px;
  height: 89.86px;
}
.nos-rfrences-b6,
.nos-tmoignages-b6 {
  top: 22.63px;
  left: 876px;
  width: 188px;
  height: 44.11px;
}
.nos-rfrences-b6 {
  left: 1150px;
}
.logo-afpa-2018-300x300-1-icon6 {
  position: relative;
  width: 121px;
  height: 62px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-div8 {
  position: absolute;
  top: 21px;
  left: 0;
  height: 62px;
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.barre-de-navigation6 {
  position: absolute;
  top: -21px;
  left: -12px;
  width: 1375px;
  height: 89.86px;
  text-align: center;
  font-family: Arial;
}
.formation-dwwm-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 768px;
  overflow-y: auto;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Inter;
}
